<div class="well">
  <form class="form-horizontal" name="newPlaylist">
    <fieldset>
      <legend>New Playlist</legend>
      <div>
          <label class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input ng-model="name" ng-maxlength="16" class="form-control" type="text" required>
          </div>
      </div>

      <div class="alert alert-warning" ng-show="newPlaylist.$dirty && newPlaylist.$invalid">Enter a Valid Playlist Name! Name cannot exceed 16 characters!</div>

      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button ng-click="createNewPlaylist(name)" ng-disabled="!name" type="submit" class="btn btn-success">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
